{% extends 'base.html' %}
{% block title %}
    Reset done
{% endblock %}
{% block content %}
    <section>
        <div class="container mt-5 pt-5">
            <div class="row">
                <div class="col-12 col-sm-7 col-md-5 m-auto">
                    <div class="card border-0 shadow">
                        <div class="card-body">
                            <div class="text-center">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                </form>
                                <h1>Password reseted, you will receive the link for reset the password in 5
                                    minutes.</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}